<div id="gems">
  <h4>Updates</h4>
  <% updates = GemUpgrades.parse details %>

  <p>
    <small class="text-muted"><%= pluralize updates.count, "gem" %> updated</small>
  </p>
  <table class="table table-condensed table-responsive" style="width:auto">
    <tbody>
    <%- GemUpgrades.parse(details).each do |gem_name, upgrade| -%>
      <tr>
        <td><%= gem_name %></td>
        <td><%= upgrade[:from] %></td>
        <th>&rarr;</th>
        <td><%= upgrade[:to] %></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>
