<% reports.includes(:repository, :log_entries).group_by(&:month).each do |month, reports| %>
  <h5>
    <%= render_month month %>
  </h5>

  <ul>
    <% reports.each do |report| %>
      <li>
        <%= link_to report.repository_name, report %>
        <span class="mini-badge"><%= report.log_entries.size %></span>
      </li>
    <% end %>
  </ul>
<% end %>
