<div id="security">
  <h4>Security patches</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">
      <span class="glyphicon glyphicon-ok text-danger"></span>
      CVE-2013-6415 - XSS vulnerability in number_to_currency
      <a target="_blank" href="http://seclists.org/oss-sec/2013/q4/402">more...</a>
    </li>
    <li class="list-group-item list-group-item-danger">
      <span class="glyphicon glyphicon-ok text-danger"></span>
      CVE-2013-1854 - Symbol DOS vulnerability in active record
      <a target="_blank" href="https://groups.google.com/forum/?fromgroups=#!topic/rubyonrails-security/jgJ4cjjS8FE">more..</a>
    </li>
  </ul>
</div>

<%= render 'reports/exceptions', exceptions: @report.exceptions if @report.exceptions.any? %>

<%= render 'reports/gem_versions', details: @report.gem_details if @report.gem_details.present? %>
