<div id="security">
  <h4>Security patches</h4>
  <ul class="list-group">
    <% security_entries.each do |entry| %>
      <% note = SecurityNote.parse entry.note %>
      <li class="list-group-item list-group-item-danger">
        <span class="glyphicon glyphicon-ok text-danger"></span>
        <%= link_to note[:cve], note[:url] %>
        <%= note[:description] %>
        —
        <em><%= note[:mitigation] %></em>

        <%= maybe_edit_link(entry) %>
      </li>
    <% end %>
  </ul>
</div>
