<h1  class="page-header">
  acme-orders-app
  <small>Oct 2014</small>
</h1>

<div id="security">
  <h4>Security patches</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">
      <span class="glyphicon glyphicon-ok text-danger"></span>
      CVE-2013-6415 - XSS vulnerability in number_to_currency
      <a target="_blank" href="http://seclists.org/oss-sec/2013/q4/402">more...</a>
    </li>
    <li class="list-group-item list-group-item-danger">
      <span class="glyphicon glyphicon-ok text-danger"></span>
      CVE-2013-1854 - Symbol DOS vulnerability in active record
      <a target="_blank" href="https://groups.google.com/forum/?fromgroups=#!topic/rubyonrails-security/jgJ4cjjS8FE">more..</a>
    </li>
  </ul>
</div>
<div id="exceptions">
  <h4>Exceptions addressed</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Unhandled network errors when updating ads in background
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Database query error when generating reports
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Error when attempting unauthorized access
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Javascript error when loading inventory filters
    </li>
  </ul>
</div>

<div id="gems">
  <h4>Gems upgraded</h4>

<table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th>Gem</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mime-types</td>
        <td>2.1.0</td>
        <th>→</th>
        <td>2.5.0</td>
      </tr>
      <tr>
        <td>aws-sdk-v1</td>
        <td>1.56.0</td>
        <th>→</th>
        <td>1.57.0</td>
      </tr>
      <tr>
        <td>aws-sdk</td>
        <td>1.56.0</td>
        <th>→</th>
        <td>1.57.0</td>
      </tr>
      <tr>
        <td>bcrypt</td>
        <td>3.1.7</td>
        <th>→</th>
        <td>3.1.9</td>
      </tr>
      <tr>
        <td>factory_girl</td>
        <td>4.4.0</td>
        <th>→</th>
        <td>4.5.0</td>
      </tr>
      <tr>
        <td>factory_girl_rails</td>
        <td>4.4.1</td>
        <th>→</th>
        <td>4.5.0</td>
      </tr>
      <tr>
        <td>newrelic_rpm</td>
        <td>3.9.5.251</td>
        <th>→</th>
        <td>3.9.6.257</td>
      </tr>
    </tbody>
  </table>
</div>
