<h1  class="page-header">
  Spotu Digital Ltd
  <small>Oct 2014</small>
</h1>

<h2>spotu</h2>

<div id="security">
  <h4>Security patches</h4>
  <div class="alert alert-info" role="alert">
    No vulnerabilities disclosed this month.
  </div>
</div>

<div id="exceptions">
  <h4>Exceptions addressed</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Unhandled network errors when updating ads in background
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Database query error when generating reports
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Error when attempting unauthorized access
    </li>
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Javascript error when loading inventory filters
    </li>
    <li class="list-group-item list-group-item-info">
      <span class="glyphicon glyphicon-eye-open text-info"></span>
      An error I didn't fix
    </li>
  </ul>
</div>

<div id="gems">
  <h4>Gems upgraded</h4>

  <table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th>Gem</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>aws-sdk</td>
        <td>1.52.0</td>
        <th>&rarr;</th>
        <td>1.56.0</td>
      </tr>
      <tr>
        <td>capybara</td>
        <td>2.4.1</td>
        <th>&rarr;</th>
        <td>2.4.4</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>spotu-redirector</h2>

<div id="security">
  <h4>Security patches</h4>
  <div class="alert alert-info" role="alert">
    No vulnerabilities disclosed this month.
  </div>
</div>

<div id="exceptions">
  <h4>Exceptions addressed</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-ok text-success"></span>
      Javascript error when loading inventory filters
    </li>
    <li class="list-group-item list-group-item-info">
      <span class="glyphicon glyphicon-eye-open text-info"></span>
      An error I didn't fix
    </li>
  </ul>
</div>

<div id="gems">
  <h4>Gems upgraded</h4>

  <table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th>Gem</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>aws-sdk</td>
        <td>1.52.0</td>
        <th>&rarr;</th>
        <td>1.56.0</td>
      </tr>
      <tr>
        <td>capybara</td>
        <td>2.4.1</td>
        <th>&rarr;</th>
        <td>2.4.4</td>
      </tr>
    </tbody>
  </table>
</div>

